@tailwind base;
@tailwind components;
@tailwind utilities;
.login__input:focus ~ .login__label {
  transform: translateY(-12px);
  font-size: 0.688rem;
}
.login__input:focus {
  padding-block: 2rem 1rem;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) ~ .login__label {
  transform: translateY(-12px);
  font-size: 0.688rem;
}

.login__input:not(:placeholder-shown).login__input:not(:focus) {
  padding-block: 2rem 1rem;
}
